
.movie-card-list {
  padding-top: 60px;
  border-top: 1px solid #e8e8e8;
  width: 89.06%;
  margin: auto;
}
.movies__films {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px 24px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .movie-card-list {
    padding-top: 80px;
    width: 92.19%;
  }
  .movies__films {
    gap: 36px 30px;
  }
}
@media screen and (max-width: 480px) {
  .movie-card-list {
    padding-top: 50px;
    width: 93.75%;
  }
  .movies__films {
    align-items: center;
    gap: 16px;
  }
}
.movies__button {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 0;
    padding: 0;
    height: 36px;
    margin-top: 60px;
    border: none;
    cursor: pointer;
    background-color: #F9F9F9;
    border-radius: 5px;
    margin-bottom: 80px;
    width: 100%;
}

.movies__button:hover {
    transition: .6s linear;
    -webkit-transition: .6s;
    opacity: .6;
}

.movies__button_hide {
    opacity: 0;
    visibility: hidden;
}
