.navigation {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 18px 70px 18px 70px;
}

.navigation__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation__links {
    gap: 20px;
    display: flex;
    align-items: center;
    text-align: left;

}
.navigation__films {
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  gap: 14px;
  margin-left: 0;
}

.navigation__burger {
  margin-top: 18px;
  gap: 16px;
  display: flex;
  align-items:center;
  justify-content:flex-end;
  text-decoration: none;
  width: 44px;
}
.navgiation__link {
    margin: 0;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    text-align: left;
    color: black;
}

.navigation__link_active {
    font-weight: 400;
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    line-height: 18px;
    display: flex;
    text-align: left;
    color: black;
  }

.navigation__account-data {
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 100px;
    height: 30px;
    gap: 17px;
    padding-left: 30px;
}

.navigation__login {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: black;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 0;
    text-decoration: none;
}

.navigation__login-active {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    color: #FFFFFF;
    background-color: transparent;
    background-repeat: no-repeat;
    margin: 0;
    text-decoration: none;
}

.navigation__account {
    border-radius: 4px;
    width: 26px;
    height: 30px;
    background: #F9F9F9 url('../../images/icon__COLOR_icon-main.svg') no-repeat center;
}


@media screen and (max-width: 768px) {
  .navigation {
      padding: 18px 30px;
  }
  .navigation__menu {
    display: flex;
    justify-content:baseline;
    align-items: center;
}
.navigation__burger {
  align-items: center;
  justify-content:flex-end;
  display: block;
}
.navigation__films{
align-items: center;
  justify-content: flex-start;

}
.navigation__links {
  display: none;
  text-decoration: none;

}
.navigation__account-data{
  display: none;}
}

@media screen and (max-width: 320px) {
  .navigation {
      padding: 18px 14px;
  }
}



